
<app-person [EmployeeElement] = "EmployeeRow" (addEmployee)= "onEmployeeCreated($event)"></app-person>

<div style="margin: 10px;">
    <h4>Employee Details</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    Employee First Name
                </th>
                <th>
                    Employee Last Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employeeRow of EmployeeRows">
                <td>
                    {{employeeRow.EID}}
                </td>
                <td>
                    {{employeeRow.EmpFName}}
                </td>
                <td>
                    {{employeeRow.EmpLName}}
                </td>
                <td>
                    <input type="button" class="btn btn-primary"
                     (click)="evtCurrentRow(employeeRow)" value="Select">
                </td>
            </tr>
        </tbody>
    </table>
</div>