<app-employee [EmployeeElement]="EmployeeRow" (addEmployee)="onEmployeeCreated($event)">
    <div class="form-group row">
        <div class="col-md-2">City : </div>
        <div class="col-md-5"><input type="text" class="form-control" #EmpCity></div>
    </div>
</app-employee>



<div style="padding-top: 2em;">
    <h4>Employee Details</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <!-- ngOninit event of the directives loaded 3 times.  -->
                <th appApplyRedColor [ChangeDefaultColor] = "'Green'">
                    Employee ID
                </th>
                <th appApplyRedColor [ChangeDefaultColor] = "'black'">
                    Employee First Name
                </th>
                <th appApplyRedColor [ChangeDefaultColor] = "'pink'">
                    Employee Last Name
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employeeRow of EmployeeRows">
                <td>
                    {{employeeRow.EID}}
                </td>
                <td *ngIf="employeeRow.EmpFName">
                    {{employeeRow.EmpFName}}
                </td>
                <td>
                    {{employeeRow.EmpLName}}
                </td>
                <td>
                    <input type="button" class="btn btn-primary" (click)="evtCurrentRow(employeeRow)" value="Select">
                </td>
            </tr>
        </tbody>
    </table>
</div>